.image-1-icon {
  height: 68px;
  width: 83.5px;
  position: relative;
  object-fit: cover;
}
.vector-icon {
  align-self: stretch;
  height: 48px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.image-1-parent,
.vector-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 10px 0 0;
}
.image-1-parent {
  width: 265px;
  flex-direction: row;
  gap: 8.5px;
}
.explore-a-seamless {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.frame-parent {
  width: 299px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  flex-shrink: 0;
}
.important-links {
  align-self: stretch;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  color: #1d1d1d;
}
.about-us,
.agent-contact,
.contact-us2,
.services {
  width: 98.7px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.agent-contact,
.contact-us2,
.services {
  width: 117.8px;
}
.agent-contact,
.services {
  width: 156.2px;
}
.services {
  width: 97.3px;
}
.links-columns {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  min-width: 164px;
}
.important-links1 {
  align-self: stretch;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  color: #1d1d1d;
}
.about-us1,
.agent-contact1,
.contact-us3,
.services1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.about-us1 {
  min-width: 103px;
}
.agent-contact1,
.contact-us3,
.services1 {
  width: 117.8px;
}
.agent-contact1,
.services1 {
  width: 156.2px;
}
.services1 {
  width: 97.3px;
}
.links-columns1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  min-width: 164px;
}
.important-links2 {
  align-self: stretch;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  color: #1d1d1d;
}
.about-us2 {
  width: 98.7px;
  position: relative;
  line-height: 22px;
  display: inline-block;
  text-decoration: none;
  color: #1c1c1c;
}
.contact-us4 {
  width: 117.8px;
  display: inline-block;
}
.agent-contact2,
.contact-us4,
.services2 {
  position: relative;
  line-height: 22px;
}
.services2 {
  width: 97.3px;
  display: inline-block;
}
.links-columns2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  min-width: 164px;
}
.footer-content,
.links-columns-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.links-columns-parent {
  width: 849.7px;
  justify-content: flex-start;
  gap: 96.1px;
  flex-shrink: 0;
}
.footer-content {
  justify-content: space-between;
  gap: 20px;
}
.globalesync-all-rights {
  position: relative;
  line-height: 22px;
}
.privacy-policy,
.tearms-conditions {
  align-self: stretch;
  width: 105px;
  position: relative;
  line-height: 22px;
  display: none;
}
.tearms-conditions {
  width: 156px;
}
.footer-menu,
.legal-menu {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.legal-menu {
  align-self: stretch;
  width: 348px;
  display: none;
  gap: 87px;
}
.footer-menu {
  width: 1680px;
  display: flex;
  gap: 1016px;
}
.account-1920,
.footer-desktop {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-desktop {
  align-self: stretch;
  background-color: #eaeaea;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 48px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #545454;
  font-family: Inter;
}
.account-1920 {
  width: 100%;
  position: relative;
  background-color: #fff;
  align-items: flex-start;
  gap: 120px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1100px) {
  .links-columns-parent {
    gap: 48px;
  }
  .account-1920 {
    gap: 60px;
  }
}
@media screen and (max-width: 750px) {
  .links-columns-parent {
    flex-wrap: wrap;
  }
  .footer-desktop {
    gap: 24px;
  }
  .account-1920 {
    gap: 30px;
  }
}
@media screen and (max-width: 450px) {
  .important-links,
  .important-links1,
  .important-links2 {
    font-size: 19px;
    line-height: 22px;
  }
  .links-columns-parent {
    gap: 24px;
  }
  .footer-menu {
    gap: 508px;
  }
  .footer-desktop {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
