.faq-about-virtual1 {
  margin: 0;
  width: 627px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
}
.f-a-q-items,
.f-a-q-title1 {
  align-self: stretch;
  box-sizing: border-box;
}
.f-a-q-title1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: 48px;
}
.f-a-q-items {
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
}
.f-a-q-icon,
.what-are-the1 {
  position: relative;
  flex-shrink: 0;
}
.what-are-the1 {
  line-height: 22px;
}
.f-a-q-icon {
  width: 11.4px;
  height: 5.7px;
}
.f-a-q-icons,
.f-a-q-items1 {
  display: flex;
  align-items: flex-start;
}
.f-a-q-icons {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.f-a-q-items1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 20px;
}
.f-a-q-items2 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.how-do-i3,
.vector-icon12 {
  position: relative;
  flex-shrink: 0;
}
.how-do-i3 {
  line-height: 22px;
}
.vector-icon12 {
  width: 11.4px;
  height: 5.7px;
}
.f-a-q-items3,
.vector-wrapper9 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper9 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.f-a-q-items3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 20px;
}
.f-a-q-items4 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.how-do-i4,
.vector-icon13 {
  position: relative;
  flex-shrink: 0;
}
.how-do-i4 {
  line-height: 22px;
}
.vector-icon13 {
  width: 11.4px;
  height: 5.7px;
}
.f-a-q-items5,
.vector-wrapper10 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper10 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.f-a-q-items5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 20px;
}
.f-a-q-items6 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.how-do-i5,
.vector-icon14 {
  position: relative;
  flex-shrink: 0;
}
.how-do-i5 {
  line-height: 22px;
}
.vector-icon14 {
  width: 11.4px;
  height: 5.7px;
}
.f-a-q-items7,
.vector-wrapper11 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper11 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.f-a-q-items7 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 20px;
}
.f-a-q-items8 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.are-virtual-mobile1 {
  position: relative;
  line-height: 120%;
  flex-shrink: 0;
}
.vector-icon15 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
  flex-shrink: 0;
}
.f-a-q-items9,
.vector-wrapper12 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper12 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.f-a-q-items9 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 20px;
}
.f-a-q-items10 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.can-i-use1,
.vector-icon16 {
  position: relative;
  flex-shrink: 0;
}
.can-i-use1 {
  line-height: 120%;
}
.vector-icon16 {
  width: 11.4px;
  height: 5.7px;
}
.f-a-q-items11,
.vector-wrapper13 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper13 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.f-a-q-items11 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 20px;
}
.f-a-q-items12 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.can-globalesyncs-virtual1 {
  position: relative;
  line-height: 120%;
  flex-shrink: 0;
}
.vector-icon17 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
  flex-shrink: 0;
}
.f-a-q-items13,
.vector-wrapper14 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper14 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.f-a-q-items13 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 20px;
}
.f-a-q-items14 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.can-virtual-cell1 {
  position: relative;
  line-height: 22px;
  flex-shrink: 0;
}
.vector-icon18 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
  flex-shrink: 0;
}
.f-a-q-items15,
.vector-wrapper15 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper15 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.f-a-q-items15 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 20px;
}
.f-a-q-items16 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.in-which-countries1 {
  position: relative;
  line-height: 22px;
  flex-shrink: 0;
}
.vector-icon19 {
  width: 11.4px;
  height: 5.7px;
  position: relative;
  flex-shrink: 0;
}
.f-a-q-items17,
.vector-wrapper16 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper16 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.f-a-q-items17 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 20px;
}
.f-a-q-items18 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.is-a-virtual1,
.vector-icon20 {
  position: relative;
  flex-shrink: 0;
}
.is-a-virtual1 {
  line-height: 22px;
}
.vector-icon20 {
  width: 11.4px;
  height: 5.7px;
}
.f-a-q-items19,
.vector-wrapper17 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper17 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 8.1px 0 0;
}
.f-a-q-items19 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.f-a-q-items20 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.f-a-q-list,
.f-a-q-list-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.f-a-q-list {
  width: 1112px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 23.5px;
}
.f-a-q-list-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 79px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  color: #1c1c1c;
  font-family: Inter;
}
@media screen and (max-width: 1100px) {
  .f-a-q-list-wrapper {
    padding-bottom: 51px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .faq-about-virtual1 {
    font-size: 38px;
    line-height: 42px;
  }
}
@media screen and (max-width: 450px) {
  .faq-about-virtual1 {
    font-size: 29px;
    line-height: 32px;
  }
  .f-a-q-list-wrapper {
    padding-bottom: 33px;
    box-sizing: border-box;
  }
}
