.select-available-countries {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.form-label {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 78px;
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.form-field {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  white-space: nowrap;
  gap: 20px;
  font-size: 16px;
  color: #776868;
}
.select-country-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}
.popular-countries1 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.popular-country-icons {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.nepal {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 44px;
}
.country-block-1 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 248px 12px 16px;
  gap: 16px;
}
.flagspakistan-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.pakistan {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 65px;
}
.country-block-5 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 227px 12px 16px;
  gap: 16px;
}
.flagsindia-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.india {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 37px;
}
.country-block-4 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 255px 12px 16px;
  gap: 16px;
}
.flagsunited-states-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.usa {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 33px;
}
.country-block-3 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 259px 12px 16px;
  gap: 16px;
}
.flagsmonaco-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.monaco {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 61px;
}
.country-block-6 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 231px 12px 16px;
  gap: 16px;
}
.flagsthailand-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.thailand {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 65px;
}
.country-block-7 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 227px 12px 16px;
  gap: 16px;
}
.flagsunited-arab-emirates {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.dubai {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 44px;
}
.country-block-8 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 248px 12px 16px;
  gap: 16px;
}
.add-circle-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.explore-more {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 100px;
}
.country-block-9,
.popular-country-blocks {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.country-block-9 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 12px 192px 12px 16px;
  gap: 16px;
  white-space: nowrap;
}
.popular-country-blocks {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  text-align: center;
  font-size: 16px;
  color: #000;
}
.popular-countries-parent,
.select-country-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular-countries-parent {
  align-self: stretch;
  justify-content: center;
  gap: 12px;
}
.select-country-content {
  width: 348px;
  justify-content: flex-start;
  padding: 80px 0;
  box-sizing: border-box;
  gap: 80px;
  max-width: 100%;
}
.form-label1,
.sort-by {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 61px;
}
.form-label1 {
  min-width: 100px;
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.form-field1,
.sort-by-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-field1 {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  overflow: hidden;
  justify-content: space-between;
  padding: 7px 10px;
  white-space: nowrap;
  gap: 20px;
}
.sort-by-container {
  width: 286px;
  justify-content: center;
  gap: 15px;
}
.rotate-left-icon {
  height: 18px;
  width: 18px;
  position: relative;
}
.clear-all-filters {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 114px;
}
.clear-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}
.plan-cards,
.plan-filter {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.plan-filter {
  gap: 20px;
}
.plan-cards {
  height: 1605px;
  flex-wrap: wrap;
  position: relative;
  color: #1c1c1c;
}
.listing1 {
  flex: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 80px 0;
  box-sizing: border-box;
  gap: 40px;
  min-width: 814px;
  max-width: 100%;
  font-size: 16px;
  color: #000;
}
.select-country-container,
.select-country-container-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.select-country-container {
  width: 1680px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 80px;
}
.select-country-container-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 32px;
  color: #262626;
  font-family: Inter;
}
@media screen and (max-width: 1300px) {
  .listing1 {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .listing1,
  .select-country-content {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .listing1 {
    padding-top: 34px;
    padding-bottom: 34px;
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .popular-countries1,
  .select-available-countries {
    font-size: 26px;
    line-height: 31px;
  }
  .select-country-content {
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
  .plan-filter {
    flex-wrap: wrap;
  }
  .listing1 {
    gap: 20px;
  }
  .select-country-container {
    gap: 40px;
  }
}
@media screen and (max-width: 450px) {
  .select-available-countries {
    font-size: 19px;
    line-height: 23px;
  }
  .select-country-title {
    gap: 16px;
  }
  .popular-countries1 {
    font-size: 19px;
    line-height: 23px;
  }
  .country-block-1,
  .country-block-3,
  .country-block-4,
  .country-block-5,
  .country-block-6,
  .country-block-7,
  .country-block-8,
  .country-block-9 {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .select-country-content {
    gap: 40px;
  }
  .plan-cards {
    height: auto;
    min-height: 1605;
  }
  .listing1 {
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
  .select-country-container {
    gap: 20px;
  }
}
