.image-1-icon {
  height: 50.6px;
  width: 62.4px;
  position: relative;
  object-fit: cover;
}
.vector-icon10 {
  align-self: stretch;
  height: 35.7px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.image-1-parent,
.vector-wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper7 {
  flex: 1;
  flex-direction: column;
  padding: 7.4px 0 0;
}
.image-1-parent {
  width: 198px;
  flex-direction: row;
  gap: 6.4px;
}
.about {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 46px;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 0 0;
}
.support {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 61px;
}
.support-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 0 0;
}
.blog {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 34px;
}
.blog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 0 0;
}
.log-in {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 46px;
  white-space: nowrap;
  text-decoration: none;
  color : #1c1c1c;
}
.log-in-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 0 0;
}
.get-started {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 89px;
  text-decoration: none;
    color : #1c1c1c;
}
.button-green {
  border-radius: 20px;
  background-color: #4cff3c;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 24px;
  white-space: nowrap;
}
.vertical-divider {
  width: 1px;
  height: 28px;
  position: relative;
  background-color: #eee;
}
.vertical-divider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px 0 0;
}
.global-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.en {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 25px;
  white-space: nowrap;
}
.language-selector,
.language-selector-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.language-selector {
  flex-direction: row;
  gap: 8px;
}
.language-selector-wrapper {
  flex-direction: column;
  padding: 11px 0 0;
  font-size: 18px;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.header,
.header-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.header-inner {
  width: 526px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.3px 0 0;
}
.header {
  align-self: stretch;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  padding: 23.7px 120px;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #1c1c1c;
  font-family: Inter;
}
@media screen and (max-width: 1100px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .frame-group {
    display: none;
  }
  .header-inner {
    width: 0;
  }
  .header {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
